{% extends "seguranca/base.html"%}

{% block titulo %}Redefinição de Senha{% endblock %}

{% block conteudo %}
<h2>Redefinição de Senha</h2>
{% if validlink %}
<p>Por favor, insira sua nova senha abaixo.</p>
<form method="post">
    {% csrf_token %}
    <table class="formulario">  
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-primary">Redefinir Senha</button>
</form>
{% else %}
<p>O link de redefinição de senha é inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
{% endif %}
{% endblock %}