<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Redefinição de senha</h2>
    <p>Você {{ user.get_full_name | default:user.username }} requisitou uma redefinição de senha. </p> 
    <p>Clique no link abaixo para definir uma nova senha:</p>
    
    <p><a href="{{ protocol }}://{{ domain }}{{ link }}">{{ protocol }}://{{ domain }}{{ link }}</a></p>
    <p>Se você não fez essa solicitação, por favor ignore este email.</p>
    <p>Caso tenha esquecido, o seu username é: {{ user.username }}</p>
</body>
</html>